<p id="notice"><%= notice %></p>

<h1>The Menus</h1>

<!-- <div style="float: left;margin-right:10px;"> -->
<div style="margin-bottom:10px;">
  <form class="form-inline">
    <div class="input-group"> <span class="input-group-addon">Filter</span>
      <input id="filter" type="text" class="form-control" placeholder="Type here..."  </input>
    </div>
  </form>
  <form class="form-inline">
    <div class="form-group" style="margin-top:6px;margin-bottom:6px;">
      <label>Restaurants:</label>
      <select id="filteroption" class="form-control" style="width:90%;">
        <option>Select One</option>
        <option>KFC</option>
        <option>In and Out</option>
        <option>Chattime</option>
        <option>Popeyes</option>
        <option>Cool Tea Bar</option>
      </select>
    </div>
  </form>
</div>
  
<div >
<table class="spaced-table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Restaurants</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody class="searchable">
    <% @menus.each do |menu| %>
      <tr>
        <td title="<%= menu.ingredient %>" data-toggle="tooltip"><%= menu.food_name %></td>
        <td><%= menu.restaurants %></td>
        <td>$<%= price_format(menu.price) %></td>
      <!--   <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td><button type="button" class="btn btn-default">Add</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Menu', new_menu_path %>


<script>
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).children('td:first').text());
            }).show();
        })
    }(jQuery));
});
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});


$(function () {
      var $table = $('table[class=spaced-table]');
      var $optionlist = $("select[id=filteroption]")
//   $optionlist.change(function(e) {
// //     // var options = $("#filteroption").html();

//   var $selected = $(this).find('selected:selected').text();
// //     // $("#filteroption").html(options);
// //     if(text == "Select One") return;
//     // var rex = new RegExp(selected, 'i');
//     // $('.searchable tr').hide();
//     // $('.searchable tr').filter(function () {
//     //     return rex.test($(this).children('td::nth-child(2)').text());
//     // }).show();
  // });​
});

</script>


